html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#app-wrapper {
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
  padding: 15px;
}

#website-container {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#website-container::-webkit-scrollbar {
  display: none;
}

.website-div {
  padding: 20px 10px 10px 10px;
  margin: 0;
  box-shadow: 0 0 5px grey;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

#app.vertical .website-div {
  width: 100%;
}

#app.horizontal .website-div {
  width: 100%;
}

.website-banner-div {
  position: relative;
  height: fit-content;
  max-height: 30vh;
  width: 30vw;
  min-width: 300px;
  overflow: hidden;
  padding: 0;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
}

.skip-button {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 30px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.skip-button.next {
  margin: auto 15px auto auto;
}

.skip-button.prev {
  margin: auto auto auto 15px;
}

.skip-button i {
  color: white;
  font-size: 25px;
}

.website-image-div {
  height: fit-content;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
}

.website-image-div::-webkit-scrollbar {
  display: none;
}

.website-image {
  width: 100%;
  height: fit-content;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.website-name {
  width: fit-content;
  font: 500 20px Arial;
  color: black;
}

.open-website {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  gap: 10px;
  border: none;
  border-radius: 25px;
  background: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-website p,
.open-website i {
  color: white;
}

.open-website p {
  font: 500 15px Arial;
}