body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
a,
span {
  -webkit-tap-highlight-color: transparent;
}

#app {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  font-family: Sans-Serif;
  background-color: white;
}

#app.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app.horizontal {
  justify-content: flex-start;
}

#board {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.box {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app.horizontal .box {
  height: 10vh;
  width: 10vh;
}

#app.vertical .box {
  height: 12vw;
  width: 12vw;
}

.chess-piece {
  cursor: pointer;
  font-variation-settings: 'FILL' 1;
}

#app.horizontal .chess-piece {
  font-size: 9vh;
}

#app.vertical .chess-piece {
  font-size: 10vw;
}

#app.flipped .chess-piece.type-1 {
  transform: rotate(180deg);
}

.chess-piece.type-1 {
  color: black !important;
}

.chess-piece.type-2 {
  color: white !important;
}

#app.black-white .box.no-color {
  background: rgb(170, 170, 170);
}

#app.black-white .box.fill-color {
  background: rgb(100, 100, 100);
}

#app.green .box.no-color {
  background: rgb(0, 150, 60);
}

#app.green .box.fill-color {
  background: rgb(120, 220, 120);
}

#app.red .box.no-color {
  background: rgb(255, 50, 0);
}

#app.red .box.fill-color {
  background: rgb(220, 180, 100);
}

#app.purple .box.no-color {
  background: rgb(90, 0, 160);
}

#app.purple .box.fill-color {
  background: rgb(200, 180, 220);
}

.navigation-bar {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background: rgb(230, 230, 230);
}

#app.vertical .navigation-bar {
  height: 60px;
  width: 100%;
}

#app.horizontal .navigation-bar {
  flex-direction: column;
  height: 100%;
  width: 60px;
  padding: 20px 0;
}

.navigation-bar button {
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  border: none;
  background: transparent;
}

#app.horizontal .navigation-bar button {
  height: fit-content;
  width: fit-content;
  display: flex;
}

#app.horizontal .navigation-bar button i {
  font-size: 4vh;
}

#app.red button i {
  color: rgb(255, 50, 0);
}