.expressionPanel {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.expressionPanel p {
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
  scroll-behavior: smooth;
  text-align: right;
  white-space: nowrap;
  font: 500 70px "Comfortaa";
  margin: 0;
  padding: 0 10px;
}

.button-panel {
  flex-shrink: 0;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: transparent;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
}

.panel-button {
  cursor: pointer;
  height: 23vw;
  max-height: 12vh;
  width: 23vw;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  transition: all 0.1s ease-out;
}

.squircle .panel-button {
  border-radius: 5vw;
}

.circle .panel-button {
  border-radius: 12.5vw;
}

.panel-button p {
  font: 500 40px "Comfortaa";
  margin: 0;
}

.panel-button i {
  font-size: 40px;
}

.numbers {
  border: 1.5px solid var(--primary-border-color);
  background-color: var(--secondary-bg);
}

.numbers .ripple-span {
  background-color: rgb(180, 180, 180);
}

.operators i,
.operators p {
  color: var(--button-text-color);
}

.operators {
  border: 1.5px solid var(--button-border-color);
  background-color: var(--button-bg);
}
.operators .ripple-span {
  background-color: var(--button-ripple-color);
}