@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Varela+Round&display=swap');

/* #region animations */
@keyframes appear {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
/* #endregion animations */

/* #region variables */
.dark {
  --primary-border-color: #505050;
  --primary-bg: #000000;
  --secondary-bg: #252525;
  --primary-text-color: #ffffff;
  --secondary-text-color: #d1d1d1;
  --ripple-color: #ffffff1a;
}

.light {
  --primary-border-color: #858585;
  --primary-bg: #ffffff;
  --secondary-bg: #d1d1d1;
  --primary-text-color: #000000;
  --secondary-text-color: #252525;
  --ripple-color: #191919b3;
}

.dark.blue {
  --button-border-color: #00c8ff4d;
  --button-bg: #00c8ff07;
  --button-text-color: #00c8ff;
  --button-ripple-color: #00c8ff4d;
}
.light.blue {
  --button-border-color: #00c8ff;
  --button-bg: #00c8ff;
  --button-text-color: #000;
  --button-ripple-color: #00aae1;
}

.dark.green {
  --button-border-color: #00c8ff4d;
  --button-bg: #00c8ff07;
  --button-text-color: #00c8ff;
  --button-ripple-color: #00c8ff4d;
}
.light.green {
  --button-border-color: #00c8ff;
  --button-bg: #00c8ff;
  --button-text-color: #000;
  --button-ripple-color: #00aae1;
}

.dark.orange {
  --button-border-color: #00c8ff4d;
  --button-bg: #00c8ff07;
  --button-text-color: #00c8ff;
  --button-ripple-color: #00c8ff4d;
}
.light.orange {
  --button-border-color: #00c8ff;
  --button-bg: #00c8ff;
  --button-text-color: #000;
  --button-ripple-color: #00aae1;
}

/* #endregion variables */


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa";
  background: var(--primary-bg);
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  transition: background 0.5s ease, color 0.5s ease;
}

i, p {
  color: var(--primary-text-color);
}

#app-wrapper {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  box-sizing: border-box;
}

.top-bar {
  flex-shrink: 0;
  height: 7%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mode-toggle-div {
  gap: 10px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  border: 1px solid var(--primary-border-color);
  background: rgba(255, 255, 255, 0.1);
}
.mode-toggle-div a {
  text-decoration: none;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-span {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
  background: var(--ripple-color);
}

.toggle {
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle i {
  font-size: 20px;
}

.options-btn {
  padding: 10px;
  border: 0.5px solid var(--primary-border-color);
  border-radius: 25px;
}

.mode-toggle-div .active i {
  color: var(--button-bg) !important;
}

.added-panel {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 60%;
  overflow: hidden;
  margin: auto;
  padding: 0 20px;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

#app.dark .added-panel {
  background: rgb(50, 50, 50);
}

#app.light .added-panel {
  border: 0.5px solid rgb(200, 200, 200);
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgb(200, 200, 200);
}

.added-panel-header {
  font: 600 25px "Comfortaa";
}

.option-panel-btn {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  gap: 15px;
  border: none;
  display: flex;
  background: transparent;
  justify-content: flex-start;
  align-items: center;
}

.option-panel-btn p {
  font: 500 16px "Comfortaa";
}

.option-panel-btn i {
  font-size: 18px;
}

.added-panel-btn-div {
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
}

.added-panel-btn-div button {
  border: none;
  background: transparent;
}

.added-panel-btn-div button p {
  font: 500 16px "Comfortaa";
}

#option-panel {
  z-index: 1;
  top: 7%;
  right: 20px;
  bottom: auto;
  left: auto;
  width: 30%;
  min-width: fit-content;
  margin: 0;
  padding: 0 15px;
}

#inner-app-tab-container {
  flex-shrink: 0;
  height: 93%;
  width: 100%;
}

.inner-app-tab {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}